<% provide(:title, "Вход") %>
<h2>Вход</h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for :session, url: sessions_path do |f| %>

      <%= f.label 'Почтовый адрес' %>
      <%= f.text_field :email, autofocus: true %>

      <%= f.label 'Пароль' %>
      <%= f.password_field :password %>

      <%= f.submit "Вход", class: "btn btn-large btn-primary" %>
    <% end %>

    <p> Я хочу <%= link_to "зарегистрироваться", signup_path %> здесь</p>
  </div>
</div>