<% provide(:title, "Room password") %>
<h2>Введите пароль для входа в комнату</h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:room, url: password_check_room_path, method: 'get') do |f| %>
     
      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

     <p> Я не знаю пароль и хочу перейти<%= link_to " обратно к списку комнат", rooms_path %></p>
  </div>
</div>